.nav-label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 36px;
  font-weight: bolder;
  width: 70%;
  margin-left: 7%;
}
.sticky-top {
  position: sticky;
  top: 50px;
  background-color: #000;
  box-shadow: 0px 5px 20px 0px #101010;
}
.category-label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  margin-left: 7%;
  margin-bottom: 0%;
}
.search-container {
  border-radius: 10px; /* Set border radius */
  padding: 10px; /* Optional: Add padding for better appearance */
  border: 1px solid #ccc; /* Optional: Add border */
  outline: none; /* Optional: Remove default focus outline */
  width: 90%;
  display: flex;
  align-items: center;
  background-color: #fff;
  /* justify-content: center; */
}
.search-input {
  background: "transparent";
  margin-left: 10px;
  border: none; /* Optional: Add border */
  outline: none; /* Optional: Remove default focus outline */
}

.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

/* Customize the scrollbar */
.horizontal-scroll::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 5px;
}

/* Track */
.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.horizontal-scroll::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.food-list {
  display: inline-block;
  /* padding: 10px; */
  white-space: nowrap;
  margin-left: 5%;
  margin-top: 5px;
}
.food-Data-list {
  display: flex;
  /* padding: 10px; */
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 3%;
}
.food-item-selected {
  display: inline-block;
  background-color: black;
  /* padding-left: 5px;
  padding-right: 5px; */
  margin-right: 15px;
  border-radius: 10px;
  justify-content: center;
  /* border: 1px solid black; */
  width: 110px;
}
.food-item {
  display: inline-block;
  background-color: #f2f2f2;
  /* padding-left: 5px;
  padding-right: 5px; */
  margin-right: 15px;
  border-radius: 10px;
  justify-content: center;
  /* border: 1px solid black; */
  width: 110px;
}
.food-item-img {
  width: 110px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.selected {
  color: #ffffff;
  /* border-bottom: 2px solid black; */
  margin-bottom: 0px;
  font-size: 16px;
  /* font-weight: 600; */
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.unselected {
  color: #6e6e6e;
  margin-bottom: 0px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.food-data-item {
  display: flex;
  /* background-color: #f2f2f2; */
  /* padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-left: 10px; */
  border-radius: 5px;
  width: 150px;
  justify-content: center;
  align-items: end;
  position: relative;
  margin-top: 50px;
}

.food-data-item-container {
  display: flex;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  border-radius: 5px;
  width: 150px;
  height: 178px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  position: relative;
  box-shadow: 0px 7px 20px -5px rgba(0, 0, 0, 0.3);
}
.food-list-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: 63%;
  right: 19%;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.3);
}
.selected-food-list-img {
  width: 160px;
  height: 100px;
  object-fit: cover;
  /* border-radius: 50%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  justify-content: center;
  align-items: center;
  display: flex;
  display: flex;
  z-index: 10;
  align-self: center;
  background-color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0; /* Initially set opacity to 0 */
  animation: fadeIn 1s ease forwards;
}
.animation-ease-in {
  opacity: 0; /* Initially set opacity to 0 */
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0; /* Start opacity from 0 */
  }
  to {
    opacity: 1; /* End opacity at 1 */
  }
}
.selected-food-data-item-container {
  display: flex;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 160px;
  height: auto;
  position: relative;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  /* border-radius: 10%; */
  box-shadow: 0px 7px 20px -5px rgba(0, 0, 0, 0.3);
}
.selected-food-list-dish-name {
  color: #000;
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  width: 126px;
  text-align: center;
  height: auto;
  text-overflow: ellipsis;
  white-space: normal;
}

.food-list-dish-name {
  color: #000;
  margin-top: auto;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  width: 106px;
  text-align: center;
  height: 50px;
  text-overflow: ellipsis;
  white-space: normal;
}

.food-list-dish-price {
  color: black;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  align-self: center;
  margin-bottom: 5px;
}

.food-list-cart-btn {
  background-color: black !important;
  outline: none !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 17px !important;
  color: #f2f2f2 !important ;
}
.food-list-quantity {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
