.nav-label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 36px;
  font-weight: bolder;
  width: 70%;
  margin-left: 7%;
}
.search-container {
  border-radius: 20px; /* Set border radius */
  padding: 10px; /* Optional: Add padding for better appearance */
  border: 1px solid #ccc; /* Optional: Add border */
  outline: none; /* Optional: Remove default focus outline */
  width: 80%;
  display: flex;
  align-items: center;
  background-color: #fff;
  /* justify-content: center; */
}
.search-input {
  background: "transparent";
  margin-left: 10px;
  border: none; /* Optional: Add border */
  outline: none; /* Optional: Remove default focus outline */
}

.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    height: auto; 
    margin-top: 20px; 
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .food-list {
    display: inline-block;
    padding: 10px; 
  }
  
  .food-item {
    display: inline-block;
    background-color: #f2f2f2; 
    padding: 10px; 
    margin-right: 10px; 
    border-radius: 5px; 
  }
  