.horizontal-view {
  white-space: nowrap;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: row;
  overflow-x: scroll;
  display: flex;
}

.horizontal-view::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}

.horizontal-view::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-view::-webkit-scrollbar-thumb {
  background: transparent;
}

.filter-view {
  display: block;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.filter-style {
  background-color: beige;
  color: black;
  width: 100px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.filter-view.selected .filter-style {
  border: 2px solid black;
}

.cancel-icon {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: black;
}

.offer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
