.horizontal-view {
  white-space: nowrap;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: row;
  overflow-x: scroll;
  display: flex;
}

.horizontal-view::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}

.horizontal-view::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-view::-webkit-scrollbar-thumb {
  background: transparent;
}

.filter-view {
  display: block;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.filter-style {
  color: black;
  text-align: center;
  font-size: 18px;
}

.filter-view.selected .filter-style {
  border: 2px solid rgb(142, 27, 27);
}

.filter-box {
  flex-direction: row;
  display: flex;
  background-color: beige;
  width: 100px;
  border-radius: 10px;
  justify-content: center;
}
