.glow-text {
  color: #fff; /* Text color */
  text-shadow: 0 0 20px #facd00, 0 0 20px #facd00; /* Glowing effect */
  animation: glow 1s infinite alternate; /* Animation for continuous glowing */
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #facd00, 0 0 20px #facd00; /* Initial glow effect */
  }
  to {
    text-shadow: 0 0 20px #facd00, 0 0 30px #facd00; /* Final glow effect */
  }
}

.ease-in {
  opacity: 0; /* Initially set opacity to 0 */
  animation: fadeIn 1s ease forwards;
}

.horizontal-view {
  white-space: nowrap;
  height: auto;
  margin-right: 10px;
  flex-direction: row;
  overflow-x: scroll;
  display: flex;
}

.horizontal-view::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}

.horizontal-view::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-view::-webkit-scrollbar-thumb {
  background: transparent;
}

.horizontal-filter {
  white-space: nowrap;
  height: auto;
  margin-top: 15px;
  margin-left: 10px;
  flex-direction: row;
  overflow-x: scroll;
  display: flex;
  justify-content: center;
}

.horizontal-filter::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}

.horizontal-filter::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-filter::-webkit-scrollbar-thumb {
  background: transparent;
}

.filter-view {
  display: block;
  margin-right: 10px;
  background-color: beige;
  width: 200px;
  border-radius: 20px;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.filter-style {
  color: black;
  font-size: 18px;
}

.filter-view.selected {
  border-bottom: 5px solid #facd00;
  background-color: rgb(104, 104, 102);
  width: 200px;
  border-radius: 20px;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.filter-style.selected {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
}
.filter-cancel.selected {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
}
