.button {
  --hover-shadows: 1px 7px 20px 0px #b97d45, 1px -4px 33px #b97d45;
  --accent: #b97d45;
  font-weight: bold;
  letter-spacing: 0.1px;
  border: none;
  border-radius: 10px;
  background-color: #d7d7d7;
  cursor: pointer;
  color: #b97d45;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
}

.button:active {
  box-shadow: 0px 1px 5px 0px #b97d45, -1px -2px 33px #b97d45;
  transform: scale(0.95);
  /* color: #d7d7d7; */
}
