.ease-in {
  opacity: 0; /* Initially set opacity to 0 */
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0; /* Start opacity from 0 */
  }
  to {
    opacity: 1; /* End opacity at 1 */
  }
}

.cart-label {
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.cart-container-width {
  width: 85%;
}
.delete-icon {
  position: absolute;
  right: 24px;
  top: 5px;
  z-index: 10;
}
.cart-container {
  border-radius: 22px;
  background-color: #ffffff2e;
  background: linear-gradient(to bottom, #f5efed40, #f5efed40, #f5efed30, #f5efed30);
  width: 100%;
  align-self: center;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
  box-shadow: 1px 6px 20px 0px rgb(0, 0, 0, 0.5);
  padding: 10px;
}
.cart-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ccc;
}
.cart-dishName {
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 16px !important;
  font-weight: 600;
  color: #ffffff;
  width: 70%;
}
.cart-list-price {
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 600;
  align-self: center;
  margin-bottom: 5px;
  margin-left: 10px;
}
.cart-price {
  color: #ffffff;
  margin-bottom: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  /* margin-left: 10px; */
}
.cart-qty {
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
  align-self: center;
  margin-bottom: 0px;
}
.cart-inc-container {
  min-width: 95px;
  height: 25px;
  /* background-color: #757575; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
}
.cart-add-container {
  min-width: 25px;
  height: 25px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.cart-nofound-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

.no-cart-list {
  color: rgb(110, 110, 110);
  margin-bottom: 0px;
  font-size: 23px;
  font-weight: 700;
  align-self: center;
  margin-bottom: 5px;
}
.start-order-btn {
  width: 200px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 20px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-proceed {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #fff;
}

.btn-proceed:active .btn-proceed:hover {
  color: white;
  background-color: black;
}
.btn-proceed:hover {
  color: white;
  background-color: black;
}
/* .btn-proceed:active {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: black;
  z-index: -1;
  transition: all 1s;
} */

/* .btn-proceed:hover:active {
  width: 160%;
} */
.total-price-container {
  background-color: white;
  position: fixed;

  bottom: 60px;
  width: 100%;
  padding: 15px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
