.top-card {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
  min-height: 180px;
  position: relative;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  padding: 15px !important;
  margin-bottom: 15px;
  margin-top: 15px;
  align-items: start;
  min-width: 300px;
  margin-right: 25px;
  position: relative;
  background-color: #ffffff; /* Semi-transparent white background */
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.trend {
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 0;
  color: #ffffff;
  font-weight: 600;
}

.name-view {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  overflow: hidden;
  max-height: 78px;
  width: 100%;
  font-family: "Niconne", cursive;
  text-overflow: ellipsis;
  white-space: wrap;
  margin-bottom: 5px;
}

.only-price {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  height: auto;
  white-space: normal;
}

.strict-text {
  text-decoration: line-through;
  color: #000000;
  font-size: 14px;
  margin-right: 10px;
}
.top-card-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #fff;
  z-index: 0;
  box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.3);
  /* position: absolute; */
  bottom: 1px !important;
  right: -15px !important;
}

.top-card-image1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #fff;
  z-index: 15;
  box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 60px;
  bottom: -14px;
}
.type {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  z-index: 15;
  position: absolute;
  left: 10px;
  top: 10px;
}

.food-btn-hz {
  background-color: #410d4f !important;
  outline: none !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 17px !important;
  margin-bottom: 10px;
  color: #f2f2f2 !important ;
  position: absolute;
  bottom: 3px;
  left: 80px;
}
.food-btn-hz1 {
  background-color: #410d4f !important;
  outline: none !important;
  border: none !important;
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 17px !important;
  margin-bottom: 10px;
  color: #f2f2f2 !important ;
  position: absolute;
  bottom: 3px;
  left: 0;
}
.discount {
  color: #ffffff;
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  width: 126px;
  text-align: center;
  height: auto;
  text-overflow: ellipsis;
  white-space: normal;
}
.food-list-quantity {
  position: absolute;
  bottom: 15px;
  left: 25px;
  color: #ffffff !important;
  font-weight: 600;
  padding: 5px 10px;
  background-color: #000000;
  border-radius: 5px;
}

.food-list-button {
  background-color: #410d4f !important;
  outline: none !important;
  border: none !important;
  border-bottom-right-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 5px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 16px !important;
  color: #ffffff !important ;
  width: 140px;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.image-view {
  width: 30%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .name-view {
    width: 70%;
    font-family: "Niconne", cursive;
  }
}
