.cart-label {
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.category-label {
  color: #eee;
  font-size: 16px;
  font-weight: 600;
  width: "100%";
  /* background-color: #000; */
  text-align: center;
}
.table-container {
  display: flex;
  min-width: 150px !important;
  min-height: 90px;
  border-radius: 10px;
  /* background-color: #fff; */
  align-items: center;
  color: black;

  justify-content: center;
  /* box-shadow: 20px 11px 20px 0px rgb(0, 0, 0, 0.1); */
}

.selected-table-container {
  display: flex;
  min-width: 150px !important;
  min-height: 90px;
  border-radius: 10px;
  background-color: black;
  align-items: center;
  border: 1px solid black;
  color: #fff;
  justify-content: center;
}
.dine-table {
  position: relative;
  display: flex;
  width: 100px !important;
  min-height: 70px;
  border-radius: 10px;
  background: linear-gradient(45deg, #341011, #693735, #341011);
  align-items: center;
  border: 1px solid #b8b8b8;
  color: #fff;
  justify-content: center;
  box-shadow: 20px 11px 20px 0px rgba(127, 127, 126, 0.241);
}
.table-number {
  position: absolute;
  top: 33%;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}
.table-plate {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.table-chair-container {
  display: flex;
  justify-content: space-evenly;
}

.table-chair {
  width: 20px;
  height: 10px;
  background-color: #ffffff2e;
  border: 1px solid #fff;
  border-bottom: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.table-chair-booked {
  width: 20px;
  height: 10px;
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.table-chair-bottom {
  width: 20px;
  height: 10px;
  background-color: #ffffff2e;
  border: 1px solid #fff;
  border-top: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.table-chair-bottom-booked {
  width: 20px;
  height: 10px;
  background-color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.chairBooked-bottom-already {
  width: 20px;
  height: 10px;
  background: linear-gradient(45deg, #1ab46a, #0f6b01, #1ab46a);

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.chairBooked-already {
  width: 20px;
  height: 10px;
  background: linear-gradient(45deg, #1ab46a, #0f6b01, #1ab46a);

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.select-label {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 28px;
  margin-top: 20px;
  letter-spacing: 1px;
}
.booking-container {
  width: 90%;
  align-self: center;
  background-color: #ffffff2e;
  border-radius: 20px;
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 200px;
}
.details-label {
  margin-bottom: 0px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
}
.table-container-img {
  width: 50px;
  height: 50px;
}

/* radio Btn  style */
.radio-form {
  display: block;
  /* margin: auto; */
  max-width: 10em;
  position: relative;
}

.radio-form input {
  position: fixed;
  top: -1.5em;
  left: -1.5em;
}

.radio-form label {
  cursor: pointer;
  display: block;
  font-weight: 500;
  color: grey;
  letter-spacing: 1px;
  text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
  transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-form label:not(:last-of-type) {
  margin-bottom: 1.5em;
}

.radio-form label span {
  box-shadow: 0 0 0 0.2em currentColor inset, 0 0.2em 0.2em rgba(0, 0, 0, 0.2),
    0 0.3em 0.2em rgba(0, 0, 0, 0.2) inset;
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: bottom;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  color: grey;
  transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 2),
    box-shadow 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95),
    color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-form input:checked + label,
.radio-form input:checked + label span {
  color: rgb(255, 255, 255);
}

.radio-form input:checked + label,
.radio-form input:checked + label span {
  transition-delay: 0.4s;
}

.radio-form label span {
  transform: scale(1.2);
}

.radio-form .worm {
  top: 0.375em;
  left: 0.375em;
  position: absolute;
}

.radio-form .worm__segment {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-form .worm__segment:before {
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  background: currentColor;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.radio-form .worm__segment:first-child:before,
.radio-form .worm__segment:last-child:before {
  box-shadow: 0 0 1em 0 currentColor;
}

@keyframes hop1 {
  from,
  to {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1.5em);
  }
}

@keyframes hop2 {
  from,
  to {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1.5em);
  }
}

@keyframes hop3 {
  from,
  to {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1.5em);
  }
}

.radio-form input:nth-of-type(1):checked ~ .worm .worm__segment {
  transform: translateY(0);
}

.radio-form input:nth-of-type(1):checked ~ .worm .worm__segment:before {
  animation-name: hop1;
}

.radio-form input:nth-of-type(2):checked ~ .worm .worm__segment {
  transform: translateY(3em);
}

.radio-form input:nth-of-type(2):checked ~ .worm .worm__segment:before {
  animation-name: hop2;
}

.radio-form input:nth-of-type(3):checked ~ .worm .worm__segment {
  transform: translateY(6em);
}

.radio-form input:nth-of-type(3):checked ~ .worm .worm__segment:before {
  animation-name: hop3;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background: #17181c;
    color: #e3e4e8;
  }

  .radio-form input:checked + label,
  .radio-form input:checked + label span {
    color: rgb(255, 255, 255);
  }
  .radio-form .worm__segment:before {
    color: #737373;
  }
}

/* input field  */
.inputbox {
  position: relative;
  width: 100%;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #ffffff;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #ffffff;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border: 1px solid #ffffff;
  /* background: black; */
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

.error {
  color: red;
  margin-bottom: 0;
}
.small-dec {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 0px;
  margin-left: 10px;
}
.tables-container {
  display: flex;
  width: 100% !important;
  overflow-x: scroll;
  /* align-items: center;
  justify-content: center; */
}

/* Customize the scrollbar */
.tables-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 5px;
}

/* Track */
.tables-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.tables-container::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.tables-container::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
