body {
  margin: 0;
  background-color: #000000 !important;
  color: rgb(255, 255, 255) !important;
  /* background-color: lightblue !important; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    monospace, sans-serif;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
